<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 Licensed under The Universal Permissive License (UPL), Version 1.0
 as shown at https://oss.oracle.com/licenses/upl/
 -->
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
      <!--
       ** Oracle JET V9.1.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Login</h1>
        <div>
            <div class="oj-flex">
            	<div class="oj-sm-12">
            		<input type="text" placeholder="Nombre de usuario" data-bind="value : userName">
            	</div>
            	<div class="oj-sm-12">
            		<input type="password" placeholder="Contraseña" data-bind="value : pwd">
            	</div>
            	<div class="oj-sm-12">
            		<button data-bind="click : login">Entrar</button>
            	</div>
            	<div class="oj-sm-12" data-bind="html : message">
            	</div>
            </div>
            
            <div class="oj-flex">
            	<div class="oj-sm-12">
            		<a>Recordar contraseña</a>
            	</div>
            </div>
            <div class="oj-flex">
            	<div class="oj-sm-12">
            		<a data-bind="click : goToRegister">Crear cuenta</a>
            	</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>