<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Creación de cuenta</h1>
        <div>
            <input type="text" placeholder="Nombre de usuario" data-bind="value : name">
            <input type="email" placeholder="Correo electrónico" data-bind="value : email">
            <input type="password" placeholder="Contraseña" data-bind="value : pwd1">
            <input type="password" placeholder="Repite contraseña" data-bind="value : pwd2">
            <button data-bind="click : register">Crear cuenta!</button>
        </div>
      </div>
    </div>
  </div>
</div>